
#cards {
    margin-top: 40px;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    max-width: 1000px;
    width: 100%;
    border-bottom: solid 1px rgb(255,114,38);
    box-sizing: content-box;
    padding: 15px 0 15px 0;

}

.first-card {
    border-top: solid 1px rgb(255,114,38);
    padding-top: 35px;
 }

.text-wrapper {
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.card-image {
    max-width: 400px;
    width: 100%;
    height: 260px;
}

.text-wrapper > h1 {
    margin-bottom: 30px;
}


