.partners {
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    border-top: solid 1px rgb(255,114,38);
    box-sizing: content-box;
    padding-top: 15px;

}

.partners-pull {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    margin-bottom: 20px;
}

.partner-link {
    width: 70px;
    height: 70px;
}

.partner-logo {
    width: 70px;
    height: 70px;
}

.partner-pull:hover {
    cursor: pointer;
}