.partners {
    /* align-items: center; */
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    border-top: solid 1px rgb(255,114,38);
    box-sizing: border-box;
    padding: 80px 0;

}

.partners-pull {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* height: 70px; */
}

.partner-link {
    width: 70px;
    /* height: 70px; */
}

/* .partner-logo {
    width: 70px;
    height: 70px;
} */

.partner-pull:hover {
    cursor: pointer;
}