.footer {
    background-color: rgb(255,114,38);
    color: #fff;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
}