
.slider {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    max-height: 700px;
    height: 100%;
    margin: auto;
    border-bottom: solid 1px rgb(255,114,38);
    padding: 15px;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    max-height: 500px;
    height: 100%;
}

.fas {
    width: 50px;
}

